*{
    margin:0 auto;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
 }
 .top-banner{
     background-image: url(developer-portfolio-img/top-banner.png);
     background-repeat: no-repeat;
 }
 .conteinar {width: 80%;padding: 20px;}
 h2{
     font-size: 50px;
 }
 span {
    color: #ffaf2a;
}

h3 {
    margin: 20px 0px;
}

p {
    color: #4e4c4c;
    font-weight: 500;
}

a.anchor-button {
    text-decoration: none;
    color: #fff;
    background-image: linear-gradient(150deg, #b73131bd, #f70022);
    padding: 10px 30px;
    font-weight: bold;
    border-radius: 5px;
}