*{
    margin:0 auto;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
 }
 section {
    margin-bottom: 75px;
}
 .top-banner{
     background-image: url(developer-portfolio-img/top-banner.png);
     background-repeat: no-repeat;
 }
 .conteinar {
     width: 95%;
     display: flex;
}
 h2{
     font-size: 50px;
 }
 span {
    color: #ffaf2a;
}

h3 {
    margin: 20px 0px;
}

.half-widh h2 {
    margin-bottom: 25px;
}


.half-widh p {
    margin-bottom: 35px;
    color: #787877;
    font-weight: 500;
}

a.anchor-button {
    text-decoration: none;
    color: #fff;
    background-image: linear-gradient(150deg, #b73131bd, #f70022);
    padding: 10px 30px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}
a.anchor-button:hover{
    background-image: linear-gradient(150deg, hsl(44, 100%, 51%), #f78f07);
}
.half-widh {
    width: 50%;
    overflow: hidden;
    margin: 0px 43px;
}

.half-widh img {
    width: 100%;
}
.dream-area{
    background-image: url(developer-portfolio-img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
section.dream-area h2 {
    font-size: 40px;
}
.experiences-area h2 {
    font-size: 37px;
}
.experiences-area{
    background-image: url(developer-portfolio-img/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
h2.exp-area {
    margin: 45px 30px;
}
div#full-stack {
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
    box-shadow: 5px 7px 40px tomato;
    height: 330px;
    padding: 32px 20px;
}
div#baby-web {
    border-left: 7px solid;
    border-image: linear-gradient(50deg,#0000ff94,#0000ffdb);
    border-image-slice: 1;
    box-shadow: 5px 7px 40px #0000ffc7;
    height: 330px;
    padding: 32px 20px;
}
section.experiences-area h3 {
    color: #ffa500b8;
}

footer p {
    text-align: center;
    color: #787877;
    font-weight: 500;
}